// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: #FFFFEE;
}
.header_image{
  width:100%;
  height:300px;
  background-image: url(http://furoyanoentotsu.com/P6210665.jpg);
  background-size:cover;
}
.nav {
    display: table;
    width: 100%;
    background: #FFFFCC;
     border-bottom:3px solid #ccc;
}
.nav__item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.nav__item + .nav__item {
    border-left: 1px solid #ccc;
}
.nav__item a {
    display: block;
    padding: 15px 0;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}
.shop_wrapper{
  float:left;
}
.shop__info{
border: 1px solid #FF773E;
padding:10px;
margin:10px;
}
.shop__show{
border: 1px solid #FF773E;
padding:10px;
}
.shop__show--image{
width:100%;
height:900px;
  margin: 0 auto;
}
.shop__show--image--image-box{
  width:98%;
  height:500px;

}
